{
    "Акции всего мира (all cap)":     [1.0, 0.3, 0.3],
    "Акции РФ":                       [1.0, 0.0, 0.0],
    "Акции РФ (голубые фишки)":       [1.0, 0.0, 0.5],
    "Акции РФ (mid and small cap)":   [1.0, 0.5, 0.0],
    "ОПИФ российских облигаций":      [1.0, 0.5, 0.1],
    "Гос. облигации РФ (до 3 лет)":   [0.5, 1.0, 0.0],
    "Гос. облигации РФ (ОФЗ-ИН)":     [0.0, 1.0, 0.5],
    "Корп. облигации РФ":             [0.3, 1.0, 0.3],
    "Корп. облигации РФ (до 3 лет)":  [0.6, 1.0, 0.6],
    "Депозиты в РФ (до года)":        [1.0, 1.0, 1.0],
    "Доллар США":                     [0.0, 1.0, 0.0],
    "Евро":                           [0.0, 0.0, 1.0],
    "Жильё в РФ":                     [0.25, 0.25, 0.0],
    "Золото":                         [1.0, 1.0, 0.0],
    "Серебро":                        [0.75, 0.75, 0.75],
    "AKME":                           [1.0, 0.0, 0.0],
    "TMOS":                           [1.0, 0.75, 0.0],
    "EQMX":                           [1.0, 0.0, 0.75],
    "SBMX":                           [1.0, 0.25, 0.0],
    "LQDT":                           [0.5, 0.5, 1.0],
    "SU52002RMFS1":                   [0.0, 1.0, 0.0],
    "SU52004RMFS7":                   [0.0, 1.0, 0.0],
    "SU52003RMFS9":                   [0.0, 1.0, 0.0],
    "SU52005RMFS4":                   [0.0, 1.0, 0.0],
    "GOLD":                           [1.0, 1.0, 0.0],
    "GLDRUB_TOM":                     [1.0, 1.0, 0.0],
    "SLVRUB_TOM":                     [0.0, 0.5, 0.5],
    "RUSFAR":                         [1.0, 1.0, 1.0],
    "IMOEX":                          [1.0, 1.0, 1.0]
}
